CQ Agent/Web References/tpscleanws/tpsclean.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSingleNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSingleNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSingleNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCTPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCTPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCTPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSingleNumberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSingleNumber" />
  </wsdl:message>
  <wsdl:message name="CheckSingleNumberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSingleNumberResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTPSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTPS" />
  </wsdl:message>
  <wsdl:message name="UpdateTPSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTPSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCTPSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCTPS" />
  </wsdl:message>
  <wsdl:message name="UpdateCTPSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCTPSResponse" />
  </wsdl:message>
  <wsdl:portType name="TPSCleanSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSingleNumber">
      <wsdl:input message="tns:CheckSingleNumberSoapIn" />
      <wsdl:output message="tns:CheckSingleNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTPS">
      <wsdl:input message="tns:UpdateTPSSoapIn" />
      <wsdl:output message="tns:UpdateTPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCTPS">
      <wsdl:input message="tns:UpdateCTPSSoapIn" />
      <wsdl:output message="tns:UpdateCTPSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TPSCleanSoap" type="tns:TPSCleanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSingleNumber">
      <soap:operation soapAction="http://tempuri.org/CheckSingleNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTPS">
      <soap:operation soapAction="http://tempuri.org/UpdateTPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCTPS">
      <soap:operation soapAction="http://tempuri.org/UpdateCTPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TPSCleanSoap12" type="tns:TPSCleanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSingleNumber">
      <soap12:operation soapAction="http://tempuri.org/CheckSingleNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTPS">
      <soap12:operation soapAction="http://tempuri.org/UpdateTPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCTPS">
      <soap12:operation soapAction="http://tempuri.org/UpdateCTPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TPSClean">
    <wsdl:port name="TPSCleanSoap" binding="tns:TPSCleanSoap">
      <soap:address location="http://tpscleanws.azurewebsites.net/tpsclean.asmx" />
    </wsdl:port>
    <wsdl:port name="TPSCleanSoap12" binding="tns:TPSCleanSoap12">
      <soap12:address location="http://tpscleanws.azurewebsites.net/tpsclean.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>